<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>invest simple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>
    <div class="container">
        <h1>Invest Simple</h1>
        
        <!-- Buy options-->
        <div class="row">
            <div class="col-sm-6">
                <label>Time to buy</label>
                <table class="best-options">
                    <thead>
                        <th>Option</th>
                        <th>P/L ⬇</th>
                        <th>EV/EBIT ⬇</th>
                        <th>ROE ⬆</th>
                        <th>ROIC ⬆</th>
                        <th>Score ⬆</th>
                        <th>Current Price</th>
                        <th>Estimated Price</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>            
            </div>
        </div>
        
        <!-- Sell options-->
        <div class="row">
            <div class="col-sm-6">
                <label>Time to Sell</label>
                <table class="bad-options">
                    <thead>
                        <th>Option</th>
                        <th>P/L ⬇</th>
                        <th>EV/EBIT ⬇</th>
                        <th>ROE ⬆</th>
                        <th>ROIC ⬆</th>
                        <th>Score ⬆</th>
                        <th>Current Price</th>
                        <th>Estimated Price</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>            
            </div>
        </div>
            
        <footer class="credits">
        <small>
            invest simple is a web app created by <a href="https://www.linkedin.com/in/leinaciosouza/">Leandro Inácio</a>
        </small>
        </footer>        
    </div>
    <script src="/scripts/main.js"></script>
</body>
</html>